public
_site
.sass-cache
.jekyll-metadata
.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
source/_stash
source/stylesheets/screen.css
vendor
node_modules
source/.jekyll-metadata
*.iml
.idea/
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/config/applicationhost.config
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
.vscode
